---
title: "**📖 {{ module.code }}** {{ module.name }} Logbook"
author: "{{ university.department }}, {{ university.name }}"
date: "{{ module.semester }}, {{ module.year }}"
geometry: margin=1in
---

*"I confirm that this logbook is entirely my own work and that all references and quotations, from both primary and secondary sources, have been fully identified and properly acknowledged."* - {{ student.name }} ({{ student.id }}).

---
