## 📓 References

{% for reference in data.references %}
[{{ loop.index }}] "{{ reference.description }}," *{{ reference.title }}*, {{ reference.year }}. [Online] Available: {{ reference.url }} (accessed {{ "now"|date("Y-m-d") }}).
{% endfor %}