## **Week {{ number }}** – {{ start_date }} to {{ end_date }}

{{ reflection }}

{% set lab_counter = 1 %}{% for lab_key, lab_value in tasks['lab'].items() %}### {{ lab_counter }}. {{ lab_value['topic'] }}: {{ lab_value['name'] }}

{% if lab_value['code'] is mapping %}{% for task_id, task_answers in lab_value['code'].items() %}{% set parts = task_id.split('_') %}{% set formatted_task_id = 'Task ' ~ parts[1] ~ '.' ~ parts[2] %}#### {{ formatted_task_id }}
{% for task_answer, task_code in task_answers %}{{ task_answer }}

```
{{ task_code }}
```

{% endfor %}{% set lab_counter = lab_counter + 1 %}{% endfor %}
{% else %}


```
{{ lab_value['code'] }}
```

{% endif %}{% set lab_counter = lab_counter + 1 %}{% endfor %}

{% set extra_counter = 1 %}{% for extra_key, extra_value in tasks['extra'].items() %}### {{ lab_counter + extra_counter - 1 }}. {{ extra_value['topic'] }}: {{ extra_value['name'] }}

{% if extra_value['code'] is mapping %}{% for task_id, task_answers in extra_value['code'].items() %}{% set parts = task_id.split('_') %}{% set formatted_task_id = 'Task ' ~ parts[1] ~ '.' ~ parts[2] %}#### {{ formatted_task_id }}
{% for task_answer, task_code in task_answers %}{{ task_answer }}

```
{{ task_code }}
```
{% endfor %}{% set extra_counter = extra_counter + 1 %}{% endfor %}
{% else %}


```
{{ extra_value['code'] }}
```

{% endif %}{% set extra_counter = extra_counter + 1 %}{% endfor %}